.notes {
    margin: auto;
    width: 50%;
	margin-top: 20px;
	border-radius: 6px;
	padding: 20px;
    .note {
		background-color: rgb(255 224 224 / 35%);
        margin: 8px;
		padding: 10px;
		border-radius: 6px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: 0.3s;
		cursor: pointer;
		border: 1px solid #ccc;
		p {
			width: 100%;
		}

        .hovered {
            visibility: hidden;
        }
        &:hover {
            .hovered {
                visibility: visible;
            }
        }

	}
}

.note-utils {
	display: flex;
	justify-content: space-between;
}

#list-container {
	background: rgba(102, 97, 97, 0.17);
	padding: 13px;
	backdrop-filter: blur(4px);
	border-radius: 20px;

		h1{
			text-align: center;
		}
}

.form {
    margin: auto;
    width: 50%;
	margin-top: 10%;
	border-radius: 6px;
	padding: 20px;
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
	button {
		width: 40px;
		height: 40px;
		font-family: inherit;
		font-weight: 600;
		font-size: 16px;
		margin: 0 10px;
		border-radius: 6px;
		cursor: pointer;
		transition: all 0.3s ease;
		background: transparent;
		border-color: #eee;
		&.active {
			font-weight: 900;
			border-color: #cc37e6;
			color: #101010;
		}
	}
}



